#top-trade-img1 {
background-size: cover;
background-image: url("./imageData/top-trades/BTCUSDm_2025-01-20_22-08-27.png");
}#top-trade-img2 {
background-size: cover;
background-image: url("./imageData/top-trades/BTCUSDm_2025-01-26_14-37-31.png");
}#top-trade-img3 {
background-size: cover;
background-image: url("./imageData/top-trades/BTCUSDm_2025-02-03_23-52-48.png");
}#top-trade-img4 {
background-size: cover;
background-image: url("./imageData/top-trades/BTCUSDm_2025-02-08_11-53-33.png");
}#top-trade-img5 {
background-size: cover;
background-image: url("./imageData/top-trades/XAUUSDm_2025-02-10_20-45-32.png");
}#top-trade-img6 {
background-size: cover;
background-image: url("./imageData/Trade-images/XAUUSDm_2025-02-19_21-04-32.png");
}