* {
    padding: 0px;
    box-sizing: 0px;
    cursor: default;
}
.AboutMain-container {
    display: flex;
    flex-direction: column-reverse;
}
#About-heading {
    font-size: 2vw;
    font-weight: 500;
    color: white;
}
.About-defaultHeading {
    color: white;
    font-size: 2vw;
    text-decoration-line: underline;
}
.About-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.About-slide {
    width: 75vw;
    padding: 5vw;
    background-color: rgba(40, 44, 50,0.9);
    position: relative;
    top: 3vw;
    animation: shadow 5s ease infinite;
    border-radius: 2vw;
}
@keyframes shadow {
    0% {
        box-shadow: inset 1px 1px 20px aqua;
        border: 1px solid aqua;
    }
    25%{
        box-shadow: inset 1px 1px 10px blue;
        border: 1px solid blue;
    }
    50% {
        box-shadow: inset 1px 1px 40px aquamarine;
    border: 1px solid aquamarine;
    }
    75% {
        box-shadow: inset 1px 1px 10px blue;
        border: 1px solid blue;
    }
    100% {
        box-shadow: inset 1px 1px 20px aqua;
        border: 1px solid aqua;
    }
}
.AboutContent-container {
    width: 74vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}
.AboutContent-container img {
    width: 50vw;
    align-self: center;
}
.AboutContent-dateContainer {
    width: 75vw;
    display: flex;
    font-size: 2vw;
    font-weight: bolder;
    justify-content: space-around;
}
.AboutContent-dateContainer .date-and-day {
    text-decoration-line: underline;
}
.About-container .topic-tag {
    align-self: flex-start;
}
.topic {
    margin-top: -2vw;
    font-size: 2vw;
}
.AboutContent-paragraph {
    font-size: 2vw;
    font-weight: 600;
}
.AboutContent-main {
    width: 74vw;
    display: flex;
    gap: 10px;
    margin-bottom: -10vw;
    flex-direction: column;
}